{% extends 'base.html' %}

{% block content %}
    <div id="loading-screen" style="display: none;">
        <div class="spinner"></div>
    </div>
    <h2>Cadastro de produtos de infra</h2>
 
    <form id="productForm" action="{{url_for('products_cad')}}" method="POST" onsubmit="showLoadingScreen(event)">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group col-md-4">
                <label for="ano">Ano:</label>
                <input type="text" class="form-control" id="ano" name="ano" required>
            </div>
            <div class="form-group col-md-4">
                <label for="categoria">Categoria:</label>
                <input type="text" class="form-control" id="categoria" name="categoria" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    
    <br>
 
    <h4>Produtos cadastrados:</h4>
    <table class="table table-bordered">
        <tr>
            <th style="width: 100px;">Nome:</th>
            <th style="width: 100px;">Ano:</th>
            <th style="width: 100px;">Categoria:</th>
        </tr>
        
    {% for product in productsIt %}
        <tr>
            <td>{{product.Nome}}</td>
            <td>{{product.Ano}}</td>
            <td>{{product.Categoria}}</td>
        </tr>
    {% endfor %}     
    </table>
    <script defer>
        function showLoadingScreen(event) {
            event.preventDefault(); 
            document.getElementById('loading-screen').style.display = 'flex';
    
            setTimeout(function() {
                document.getElementById('productForm').submit();
            }, 1500); // 2000 milissegundos = 2 segundos
        }
    </script>
{% endblock content %}
