{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infraestrutura de TI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bem-vindo à Infraestrutura de TI</h1>
            <p class="lead">Oferecemos soluções completas para suas necessidades tecnológicas.</p>
            <hr class="my-4">
            <p>Explore nossos serviços e descubra como podemos ajudar sua empresa a crescer.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Servidores e Armazenamento</h5>
                        <p class="card-text">Nossos servidores de alta performance garantem que seus dados estejam sempre disponíveis e seguros.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Redes e Conectividade</h5>
                        <p class="card-text">Oferecemos soluções de rede robustas para garantir a conectividade e a comunicação eficiente em sua empresa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Segurança da Informação</h5>
                        <p class="card-text">Proteja seus dados e sistemas com nossas soluções avançadas de segurança da informação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock content %}