{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Página sobre produtos</h2>
        <hr>
        <p><strong>Produtos cadastrados recentemente:</strong></p>
        <div class="accordion" id="productAccordion">
            {% for k, v in game.items() %}
                <details class="mb-3">
                    <summary class="btn btn-link">{{ k }}</summary>
                    <div class="card card-body">
                        {{ v }}
                    </div>
                </details>
            {% endfor %}
        </div>
        <hr>
    </div>
{% endblock content %}
